:root {
  --unit: 1.75rem;

  --s-0125: calc(var(--unit) * 0.125);
  --s-025: calc(var(--unit) * 0.25);
  --s-0375: calc(var(--unit) * 0.375);
  --s-05: calc(var(--unit) * 0.5);
  --s-0625: calc(var(--unit) * 0.625);
  --s-075: calc(var(--unit) * 0.75);
  --s-0875: calc(var(--unit) * 0.875);
  --s-1: var(--unit);
  --s-15: calc(var(--unit) * 1.5);
  --s-2: calc(var(--unit) * 2);
  --s-25: calc(var(--unit) * 2.5);
  --s-3: calc(var(--unit) * 3);
  --s-35: calc(var(--unit) * 3.5);
  --s-4: calc(var(--unit) * 4);
  --s-45: calc(var(--unit) * 4.5);
  --s-5: calc(var(--unit) * 5);
  --s-55: calc(var(--unit) * 5.5);
  --s-6: calc(var(--unit) * 6);
  --s-65: calc(var(--unit) * 6.5);
  --s-7: calc(var(--unit) * 7);
  --s-75: calc(var(--unit) * 7.5);
  --s-8: calc(var(--unit) * 8);
  --s-85: calc(var(--unit) * 8.5);
  --s-9: calc(var(--unit) * 9);
  --s-95: calc(var(--unit) * 9.5);
  --s-10: calc(var(--unit) * 10);

  /* Change the name in the future */
  --s-11: calc(var(--unit) * 11);
  --s-37: calc(var(--unit) * 45);
}
