section:not(:first-child) p,
.skill-label {
  font-size: var(--s-05);
}

section:not(:first-child) h3 {
  font-size: var(--s-2);
  text-align: center;
}

section:not(:first-child) h4 {
  font-size: var(--s-1);
  text-align: center;
}
