.work-hero {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-top: var(--s-3);
}

.work-hero h2 {
  font-size: var(--s-5);
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: var(--s-05);
}

.work-subtitle {
  font-size: var(--s-0625);
  color: #a1a1aa;
  text-align: center;
  position: relative;
  z-index: 1;
}

.work-hero + section h3 {
  font-size: var(--s-2);
  text-align: center;
  margin-bottom: var(--s-2);
}

.work-image-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  /* width: var(--s-37);
  height: var(--s-37); */

  width: 60%;
  height: 90%;

  z-index: 0;
  /* pointer-events: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.06);
  font-size: var(--s-2);
}
